**/*.svg
package.json
**/dist
*.png
*.jpg
*.gif
*.wav
*.mp3
*.ttf
*.eot
*.woff
*.woff2
*.txt
*.toml
LICENSE
*.lock
.history
.husky
.vscode
__tests__
README.md
.*
*.log
*.config
*.sh
src/assets
tex-svg.js